<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Testimonial</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <img src="caso.jpg" class="client-img" alt="">
    <div class="container">
        <div class="wrapper">
            <div class="card">
                <div class="card-thumb">
                    <img src="3.png" class="client-img" alt="">
                    <span class="client-name">client one</span>
                </div>
                <div class="card-body">
                    <p class="review">Walked in for dinner in a Wednesday night and sat at the bar. She helped recommend something for my dinner and the Lobster Florentine didn’t disappoint! I even returned the next morning for breakfast and got similar service! It was a gem I found and can’t wait to return next year- I just hope Erin is still bartending then!</p>
                    <div class="rating">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-thumb">
                    <img src="1.jpg" class="client-img" alt="">
                    <span class="client-name">client two</span>
                </div>
                <div class="card-body">
                    <p class="review">the corned beef hash is amazing and homemade, even the toast was good! Oh, and the potato pancakes! Everything we ordered was fresh and delicious. Highly recommend! Definitely coming back.</p>
                    <div class="rating">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-thumb">
                    <img src="3.png" class="client-img" alt="">
                    <span class="client-name">client three</span>
                </div>
                <div class="card-body">
                    <p class="review">The bartender, Erin, couldn’t have been nicer. She was quick, efficient and friendly. </p>
                    <div class="rating">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                        <img src="str.png" class="star" alt="">
                       
                        <img src="str.png" class="star" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
    </div>

    <script src="app.js"></script>

</body>
</html>